<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangjiabin.site.sys.mapper.FilesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huangjiabin.site.sys.model.Files">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="suffix" property="suffix" />
        <result column="size" property="size" />
        <result column="upload_time" property="uploadTime" />
        <result column="upload_by" property="uploadBy" />
        <result column="category" property="category" />
        <result column="type" property="type" />
    </resultMap>

</mapper>
