<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangjiabin.site.sys.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huangjiabin.site.sys.model.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="disabled" property="disabled" />
        <result column="del_flag" property="delFlag" />
        <result column="desc" property="desc" />
    </resultMap>

    <select id="selectRoleByUserId" resultType="com.huangjiabin.site.sys.model.Role">
        select r.id,r.name,r.disabled,r.del_flag,r.desc
        from sys_role as r
        left join sys_user_role as ur
        on r.id=ur.role_id
        where ur.user_id=#{id}
    </select>

</mapper>
