<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangjiabin.site.sys.mapper.UserStudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huangjiabin.site.sys.model.UserStudent">
        <id column="user_id" property="userId" />
        <result column="student_id" property="studentId" />
        <result column="teacher_id" property="teacherId" />
    </resultMap>

</mapper>
