//
$page-background-color: #f7faff !default;
//
$footer-height: 100px !default;
// 字体大小
$font-size-c: 16px !default;
$font-size-xs: 12px !default;
$font-size-sm: 14px !default;
$font-size-md: 18px !default;
$font-size-lg: 20px !default;

// 间距
$spacing: 30px !default;
$spacing-title: 20px !default; // 距离标题的间距
