// 字体大小
$font-size: 16px !default;

$font-size-base: $font-size !default;

$font-size-xs: 12px !default;
$font-size-sm: 14px !default;
$font-size-md: 18px !default;
$font-size-lg: 20px !default;
$font-size-xl: 22px !default;
$font-size-xxl: 24px !default;

$font-size-title: $font-size !default;
$font-size-desc: $font-size-xs !default;

$font-size-panel-title: $font-size-xl !default;
