// iconimg

.iconimg {
  display: block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  font-style: normal;
}

// 补贴项目
.iconimg-subsidy {
  width: 36rpx;
  height: 30rpx;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAAA8BAMAAAA3cOGjAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAeUExURUdwTB90/CF0/h50+x90+x50+x50+x5z+iuA/x5z+ojSGzkAAAAJdFJOUwBhLuuoh83gBpKXmxsAAAB6SURBVEjHY2AY7oDJeSZOYKIAVRQ5Ew+YClHDOBMvEAArasevqAKsSBK/oolgRZ74FU0BK8rEr2gaWJElfkWTwYpmEgCjimZSOWGOBiYJivAE2YApGgkhjlXPgCmiXxBU4lcznfgiWhO/oknE1y0Mqsm4lZgFDfuaHABQpz3cNuomTAAAAABJRU5ErkJggg==);
}
