:root {
  --primary: #207cff; // 主题色
  --color-primary: #207cff; // 主题色
  --color-secondary: #ffc600; // 主题色
  --color-hint: #e70000; // 提示色
  --color-success: #00e2a5; // 成功
  --color-warn: #ffb517; // 警告
  --color-fail: #ff3131; // 失败
  --color-title: #323232; // 标题色
  --color-text: #333; // 文本色
}
